.App {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1b1b1d;
}

.App * {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4e6ba5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.event-list-container {
  width: 100%;
  max-width: 900px;
  min-height: 200px;
  margin: 0 auto;
  padding: 10px;
}

.eventListItem {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: #282c34 solid 1px;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: #a6caec;
}

.event-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5px;
  margin: 5px;
  background-color: #c6dff7;
  border: #282c34 solid 1px;
  border-radius: 20px;
}

.citiesListItem {
  list-style-type: none;
  display: block;
  cursor: pointer;
}

.eventList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5px;
}

#indexNumber {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.details-btn {
  width: 125px;
  margin: 5px auto;
}

.buttonClear {
  border: none;
  border-radius: 5px;
  padding-right: 15px;
  cursor: pointer;
}

.buttonReset {
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.toggleBtn {
  width: 250px;
  margin: 10px auto;
  background-color: rgb(253, 179, 139);
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.city {
  padding: 5px;
}

.labelNOE {
  padding-right: 5px;
  color: white;
}

.labelCity,
.noEventsText {
  color: white;
}

.bordered-tooltip .tooltip-inner {
  border: 2px solid cornflowerblue;
}
.bordered-tooltip .tooltip-arrow::before {
  border-top-color: cornflowerblue;
}

.custom-border-radius,
.custom-border-radius:first-child,
.custom-border-radius:last-child {
  border-radius: 20px;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-radius: 20px;
}

.x-axis-label {
  font-size: 12px;
  font-weight: 100;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans";
  font-kerning: none;
}

.pie-label {
  font-size: 16px;
  font-weight: 100;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans";
  font-kerning: none;
}
.chartGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5px;
  margin: -10px 30px 10px 30px;
  background-color: #c6dff7;
  border: #282c34 solid 1px;
  border-radius: 20px;
}

@media (max-width: 320px) {
  .x-axis-label {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  .scatterChart {
    background-color: "#143B5F";
  }
}

@media (color-scheme: dark) {
  .scatterChart {
    background-color: "#143B5F";
  }
}
